PORT=
JWT_SECRET=
JWT_EXPIRES_IN=
SALT_ROUNDS=
RATE_LIMIT_WINDOW_MS=
RATE_LIMIT_MAX=100
AUTH_RATE_LIMIT_MAX=
FRONTEND_URL=

DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_DIALECT=